<!doctype html>
<html lang="en">
  <head>
    <link href="{{ static_url('images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}">
    <title>Pit Market Game</title>
  </head>
  <body>
    <!--<script type="text/javascript" src="transactions.js"></script>-->
    <script src="{{ static_url('scripts/state.js') }}"></script>
    <script src="{{ static_url('scripts/setup.js') }}"></script>
    <script src="{{ static_url('scripts/offers.js') }}"></script>
  </body>
</html>