<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ static_url('images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}">
    <title>Pit Market Game</title>
  </head>
  <body>
    <div id=root>
      <object id="deckSettingsPage" type="text/html"data="{{ static_url('html/host/deckSettings.html') }}" hidden></object>
      <object id="endGamePage" type="text/html" data="{{ static_url('html/host/endGame.html') }}" hidden></object>
      <object id="roundPage" type="text/html" data="{{ static_url('html/host/round.html') }}" hidden></object>
      <object id="roundSettingsPage" type="text/html" data="{{ static_url('html/host/roundSettings.html') }}" hidden></object>
    </div>
    <script src="{{ static_url('scripts/state.js') }}"></script>
    <script src="{{ static_url('scripts/setup.js') }}"></script>
    <script src="{{ static_url('scripts/host/main.js') }}"></script>
  </body>
</html>