<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ static_url('images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}">

    <title>Pit Market Game</title>
  </head>
  <body>
    {% autoescape None %}
    <h1 id="home-title">Pit Market Game</h1>
    <div style="position: relative;">
      <form>
        <input class="txt-field" id="room" name="game" type="text" placeholder="Game Code">
        <input class="btn" type="submit">
      </form>
    </div>
    <div>
        <div class="credits credits-container">
          <div class="credits-title">Developed by</div>
          {{''.join('<div class="just-right">{0}</div><div class="just-left">{1}</div>'.format(k, v) for k, v in credits.items())}}
          <div class="credits-title just-left"><a id="host-link" href="/?game=host">Host a game</a></div>
        </div>
    </div>
    <div class="helpBubble" onmouseover="drawHelp('help_joinGame');" onmouseout="hideHelp();" unselectable="on">?</div>
    <div class="helpText hidden" id="help_displayText"></div>
  </body>
</html>