<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ static_url('images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}">
    
    <script>
      function join() {
        var room = document.getElementById("room").value;
        window.location.replace("/?game=" + room)
      }
    </script>

    <title>Pit Market Game</title>
  </head>
  <body>
    <h1 id="home-title">Pit Market Game</h1>
    <div>
      <form id="form" method="method" name="form">
        <input class="txt-field" id="room" name="room" type="text" placeholder="Game Code">
        <input class="btn" onclick="join()" type="button" value="Join">
      </form>
      <a href="/?game=host">Host a game</a>
    </div>
    <div>
      <p id="credits-string">Developed by: Wesley Billingham, Alfred Burgess, Devan Edwards, Jayden Kur, Timothy Wise, Brave Ziazan</p>
    </div>
  </body>
</html>