<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ static_url('images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/layout.css') }}">
    <title>Pit Market Game</title>
  </head>
  <body>
    {% autoescape None %}
    <div id=root>
        <div id="endGamePage" style="display: none">{{ endGame }}</div>
        <div id="roundPage" style="display: none">{{ round }}</div>
        <div id="lobbyPage" style="display: none">{{ lobby }}</div>
    </div>

    <div class="helpText hidden" id="help_displayText"></div>

    <script type="text/javascript" src="{{ static_url('scripts/player/state.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/time.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/offers.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/transactions.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/player/main.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/player/lobby.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/player/score.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/player/round.js') }}"></script>
    <script src="{{ static_url('scripts/endGame.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/setup.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('scripts/help.js') }}"></script>
  </body>
</html>