<html>
<head>
	<meta charset="utf-8">
</head>
<!--
	# HOW TO USE #
	This is just a test canvas for displaying unimplemented features.
	Open this page in any browser.
	Open the bowser console
		Chrome:		Ctrl+Shift+I => 'Console'
		Firefox:	Ctrl+Shift+K
	Enter command `recieveNewOffer("Some Text");

	# TODO #
	- Change so it's a full offer`
	- Connect to WS
	- Scrollbar

	# BUGS #
	element[0] is undefined
  -->
<body onload="run()">
	<canvas width=500 height=500 style="border:solid 1px" id="canvasDisplay"></canvas>

	<script type="text/javascript">
		var canvas = document.getElementById("canvasDisplay");
		var ctx = canvas.getContext("2d");

		// Constants
		var _BUFFER = 15;
		var _WIDTH = 500;
		var _HEIGHT = 500;
		// Variables
		var lst_offers = [];

		function recieveNewOffer(offer)
		{
			lst_offers.push(offer);
			reDrawOffers();
		}

		function reDrawOffers()
		{
			ctx.clearRect(0, 0, _WIDTH, _HEIGHT);
			var boxColour = "pink";
			var fontColour = "black";
			var boxTop = _BUFFER;
			var pad = 10;
			var boxHeight = 50;
			var boxWidth = _WIDTH - 2 * _BUFFER;
			if(lst_offers.length == 0)
			{	// No Current Offers
				ctx.fillStyle = boxColour;
				ctx.fillRect(_BUFFER, boxTop, boxWidth, boxHeight);
				ctx.fillStyle=fontColour;
				ctx.font='30px Arial';
				ctx.fillText("No Current Offers", _BUFFER + pad, boxTop + boxHeight - pad);
			}
			for(var i = lst_offers.length; i > 0; i-- )
			{
				if(boxTop + boxHeight > _HEIGHT)
				{	// No room to draw
					break;
				}
				ctx.fillStyle = boxColour;
				ctx.fillRect(_BUFFER, boxTop, boxWidth, boxHeight);
				ctx.fillStyle=fontColour;
				ctx.fillText(lst_offers[i], _BUFFER + pad, boxTop + boxHeight - pad);	

				boxTop += _BUFFER + boxHeight;
			}
		}

		function run() { reDrawOffers(); }

		run();
	</script>
	</body>
</html>