.left-container { left: 0; }
.right-container { right: 0; }

#help_text
{
    overflow: scroll;
    text-align: left;
    float: left;
}

.split
{
  display: inline-block;
  height: 100%;
  width: 45%;
  max-width: 100px; 
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

html{background: pink;}