.left-container{ left: 0; width: 30%; overflow: none; }
.right-container { right: 0; width: 55%; border-left: 10px ridge #367588;}

#help_text
{
    overflow: auto;
    text-align: left;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    text-justify: inter-character;
}
#help_buttons
{
    top: 0;
    height: 20%;
}

.split
{
  display: inline-block;
  height: 100%;
  max-height: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}