html {
    font-family: cabin
}

body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#display
{
    border: 1px solid black;
}

#home-title
{
    font-family: Cabin, Arial, Helvetica, sans-serif;
    color: lightcoral;
    font-weight: bold;
    font-size: 64px;
}

.credits
{
    color: rgb(210, 210, 210);
}

.credits-container {
    position: fixed;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: auto min-content min-content auto;
    column-gap: 6px;
    row-gap: 1px;
}

.credits-title {
    grid-column: 1 / span 4;
    padding: 6px 6px 0 6px;
}

.settings-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.round-settings-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.just-right {
    text-align: right;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.just-left {
    text-align: left;
    padding-right: 10px;
}

#host-link
{
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.big-text
{
    color: lightcoral;
    font-size: 36pt;
}

.centred-text
{
    margin: 50vh 0px;
}

#form
{
    margin: 20vh;
}

#gameIdDisplay
{
    font-family: Consolas, monospace;
}

h2
{
    color: rgb(192, 192, 192);
    /*font-weight: normal;*/
}

.btn
{
    background-color: mediumturquoise;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px solid limegreen;
    border-radius: 5px;
    height: 45px;
    min-width: 90px;
}

.btn:hover
{
    background-color: turquoise;
    color: black;
}

.btnTraded
{
    background-color: lightcoral;
}

.btnTraded:hover
{
    background-color: #ec5f5f;
}

.txt-field
{
    height: 45px;
    width: 120px;
    padding: 0px 15px;
    background-color: rgb(230, 230, 230);
    color: black;
    border: 0px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.hide {
    display: none;
}

#card
{
    display: inline-block;
    width: 120px;
    height: 160px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgb(192, 192, 192);
    font-size: 16pt;
}

#cardValue
{
    font-size: 24pt;
    border: 2px solid rgb(192, 192, 192);
    border-width: 2px 0px;
}

.offers-label
{
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.info-label
{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.info-label span
{
    color: rgb(192, 192, 192);
    font-weight: normal;
}

#post-container
{
    padding: 60px;
}

.offer-container
{
    background-color: rgb(230, 230, 230);
    border: 0px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 45vw;
    min-height: 300px;
    margin: 20px;
    max-height: 300px;
    overflow-y: scroll;
}

#offers-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#host-controls-container
{
    padding: 60px;
}

/*
.txt-field:focus
{
    height: 60px;
    width: 180px;
}
*/

.offer-shape
{
  border: 0px solid rgb(192, 192, 192);
  border-radius: 5px;
  width: 60%;
  font-size: 2vh;
  margin: 5px 5px 0px;
  height: 5vh;
}

.offer-internal
{
    width: 45%;
    margin: 5px;
}

.buyer
{
    float:  left;
    background: coral;
}

.seller
{
    float:  right;
    background: darkcyan;
}

.offer-shape-buyer
{
    background-color: red;
    color:black;
    border: 1px solid black;
}

.offer-shape-seller
{
    background-color: limegreen;
    color: black;
    border: 1px solid black;
}

#top-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Tool-tip help text */
.helpBubble
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    background: #B0E0E6;
    color:      #4E5180;
    font-family: "Verdana", "Arial", Sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #4E5180;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.helpBubble:hover
{
    background: #4E5180;
    color:      #B0E0E6;
    border:     1px solid #B0E0E6;
}
.helpText
{
    position: fixed;
    z-index: 1;
    left: 50%; bottom:25px;
    width: 400px;
    margin-left: -200px;
    background: #FCE883;
    color:      #E86100;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #E86100;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1;
    opacity: 1;
}

@media screen and (max-width: 600px)
{
    .helpText
    {
        width: 90%;
        height: auto;
        margin-left: 2.5%;
        left: 0;
    }
}

.hidden{display: none; opacity: 0; }

#qrcode {
    color: black;
    width: 114px;
    margin: auto;
}

#hidden-submit {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input[type=checkbox]:not(:checked) ~ input[type=number] {
    color: rgba(0, 0, 0, 0);
}
/* -------------------*/


/* Disable Button CSS */
.disabled
{
    background: #848482; /* Battleship grey */
    opacity: 0.75;
}
/* ------------------ */